/* Base Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	font-family: Tahoma, Geneva, sans-serif;
}

#wrapper {
	margin: 0 auto;
}

.row {
	width: 100%;
	margin-bottom: 20px;
}

header h1 {
	text-align: center;
	font-size: 1.75em;
}

section {
	padding: 0px 10px;
}

section div {
	background-color: #bbb;
	border: 1px solid black;
	position: relative;
	padding: 60px 10px 10px;
}

h2 {
	position: absolute;
	right: 0px;
	top: 0px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding: 5px 40px;
	font-size: 1.25em;
}

section p {
	font-size: 1em;
}

#chicken h2 {
	background-color: #f46e42;
}

#beef h2 {
	background-color: #bc0303;
	color: #eee;
}

#sushi h2 {
	background-color: #f4d742;
}


/* Desktop Media */
@media(min-width: 992px) {
	.col-lg-3 {
    width: 33.3%;
    float: left;
  }

 	header {
		margin: 30px 0 60px;
	}

}

/* Tablet Media */
@media(min-width: 768px) and (max-width: 991px) {

	header {
		margin: 30px 0;
	}

	.col-md-6 {
    width: 50%;
    float: left;
  }

  .col-md-12 {
  	width: 100%;
  	clear: both;
  	padding-top: 20px;
  }
}

/* Mobile Media */
@media(max-width: 767px) {
	header {
		margin: 30px 0 20px;
	}

	section {
		padding: 10px 0;
	}
}